*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    align-content: center;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
}
/** Modal Pop-up */
#modelBtnDiv{
    margin-bottom: 30px;
    /* margin-left: -70px; */
}
#modelOpenBtn{
    border: 0;
    font-size: 17px;
    font-weight: bold;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
}
#modelOpenBtn:active{
    background-color: rgba(240, 248, 255, 0.656);
}
#modal_content{
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: lightblue;
    left: 0;
    top: 0;
    color: white;
}
#main-content{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    align-content: center;
    /* background-color: aliceblue; */
}
.content-element{
    width:  70%;
    background-color: lightgreen;
    color: black;
    padding: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
#modelCloseBtn{
    padding: 2px 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 0;
    background-color: rgba(128, 128, 128, 0.418);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}
#modelCloseBtn:hover{
    background-color: red;
    color: white;
    border: 0;
}
#modal_content h1{
    letter-spacing: 2px;
    word-spacing: 2px;
}
#modal_content p{
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 18px;
}
