*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    align-content: center;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
}